<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages',object: f.object %>

     <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-shopping-cart"></span>
          <%= f.text_field :name, placeholder: "Name", class: "form-control input-lg", label: false, :required => true %>
        </div><br/>

 <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-envelope"></span>
          <%= f.text_field :email, placeholder: "Email", class: "form-control input-lg", label: false, :required => true %>
            <span class="input-group-addon" id="basic-addon2">@example.com</span>
        </div><br/>

      <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-shopping-cart"></span>
          <%= f.text_field :password, placeholder: "Password", class: "form-control input-lg", label: false, :required => true %>
        </div><br/>

      <div class="input-group">
          <span class="input-group-addon glyphicon glyphicon-shopping-cart"></span>
          <%= f.text_field :password_confirmation, placeholder: "Password_confirmation", class: "form-control input-lg", label: false, :required => true %>
        </div><br/>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>